<textarea class="$input input">
# Hello!  I am Markdown!

Go ahead and __edit me__.  I update as you type!

This is a sample application built with [Lateralus](https://github.com/Jellyvision/lateralus), a super fun JavaScript application framework.  Check it out!</textarea>
